@charset "UTF-8";

h1{
    text-align: center;

}

div{

}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgreen;
}

table{
    width: 600px;
    height: 600px;
    border-collapse: collapse;
    position: relative;
    
}

table > tbody > tr{
    height: 80px;    
    border-collapse: collapse;

}

tbody > tr:nth-child(2n){
    background-color: lightgray;
}

table > thead > tr > th{ 
    height: 40px;  
    border-collapse: collapse;
    position: sticky;
    top: -1px;
    background-color: gray;
}

caption{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    background-color: lightseagreen;
    border: 1px solid black;
}

td:hover{
    background-color: yellow;
}

tr.linha > td:hover{
    background-color: red;
}

tr.linha{
    background-color: grey;
    font-weight: bolder;
}

td, th{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

thead, tfoot{
    background-color: grey;
    color: white;
}

thead > tr > th:hover{
    background-color: red;
}

tbody{
    background-color: white;
}
td.vazio{
    border: 0px solid white;
    background-color: green;

}

.num{
    text-align: right;
}

