@charset "UTF-8";


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: green;
}

table{
    width: 600px;
    height: 600px;
    border-collapse: collapse;
}

table > tbody > tr{
    height: 100px;    
    border-collapse: collapse;
}

table > thead > tr > th{ 
    height: 100px;  
    border-collapse: collapse;
}

td:hover{
    background-color: yellow;
}

tr.linha > td:hover{
    background-color: red;
}

tr.linha{
    background-color: grey;
    font-weight: bolder;
}

td, th{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

thead, tfoot{
    background-color: grey;
    color: white;
}

thead > tr > th:hover{
    background-color: red;
}

tbody{
    background-color: lightgrey;
}
td.vazio{
    border: 0px solid white;
    background-color: green;

}

.num{
    text-align: right;
}